<%- include('../partials/_head.ejs') %> <%- include('../partials/header.ejs') %>
<% if (locals.messageError) { %> <% if (locals.messageError.validation) { %> <%
locals.messageError.validation.forEach((err)=> { %>
<div><%= err.msg %></div>
<% })} if (locals.messageError.db) { %>
<div><%= locals.messageError.db %></div>
<% }}%>

<div class="form-signup">
    <form action="/sign-up" method="POST">
        <div>
            <label for="firstName">First name: </label>
            <input
                type="text"
                name="fname"
                id="firstName"
                placeholder="John"
                required
                minlength="<%= locals.env.userForm.nameMinLength %>"
                minlength="<%= locals.env.userForm.nameMaxLength %>"
            />
        </div>
        <div>
            <label for="lastName">Last name: </label>
            <input
                type="text"
                name="lname"
                id="lastName"
                placeholder="Doe"
                required
                minlength="<%= locals.env.userForm.nameMinLength %>"
                minlength="<%= locals.env.userForm.nameMaxLength %>"
            />
        </div>
        <div>
            <label for="username">Username: </label>
            <input
                type="text"
                name="username"
                id="username"
                required
                minlength="<%= locals.env.userForm.nameMinLength %>"
                minlength="<%= locals.env.userForm.nameMaxLength %>"
            />
        </div>
        <div>
            <label for="password">Password</label>
            <input
                type="password"
                name="password"
                id="password"
                required
                minlength="<%= locals.env.userForm.passwordMinLength %>"
                minlength="<%= locals.env.userForm.passwordMaxLength %>"
            />
        </div>
        <div>
            <label for="passwordConfirmation">Confirm your password</label>
            <input
                type="password"
                name="passwordConfirmation"
                id="passwordConfirmation"
                required
                minlength="<%= locals.env.userForm.passwordMinLength %>"
                minlength="<%= locals.env.userForm.passwordMaxLength %>"
            />
        </div>
        <div>
            <label for="secret-code">Secret code</label>
            <input
                type="password"
                name="secretCode"
                id="secret-code"
                required
                minlength="<%= locals.env.userForm.secretCodeMinLength %>"
                minlength="<%= locals.env.userForm.secretCodeMaxLength %>"
            />
        </div>
        <button id="button-submit-new-user" type="submit">Submit</button>
    </form>
</div>
<script defer>
    const buttonSubmit = document.querySelector("#button-submit-new-user");
    const pw = document.querySelector("#password");
    const pwConfirmation = document.querySelector("#passwordConfirmation");
    buttonSubmit.addEventListener("click", (e) => {
        if (pwConfirmation.value !== password.value) e.preventDefault();
    });
</script>
<%- include('../partials/_footer.ejs') %>
